# Ignore processed/generated datasets
data/processed/

# Generated ML artifacts
models/
submissions/
reports/

# Ignore parquet files
*.parquet

# Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/